* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #d6d3d8;
    font-family: Arial, Helvetica, sans-serif;
    /* display: grid; */
    place-items: center;
    min-height: 100vh;
  }
  
  .main {
    background-color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: 300px 600px;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
  }
  .main img {
    width: 300px;
    height: 300px;
    border-radius: 5px 0 0 5px;
  }
  .main .btn {
    position: absolute;
    bottom: -20px;
    right: -20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-color: #fc9400;
    color: #fff;
    padding: 22px 45px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
  }
  .main .btn i {
    margin-left: 20px;
    font-size: 1.5rem;
  }
  
  .main__text {
    padding: 40px 40px 0;
  }
  .main__text h1 {
    color: #351897;
    font-weight: 400;
  }
  .main__text .main__text__star span {
    font-size: 0.8rem;
    color: #ffa800;
    margin: -5px 0 20px;
  }
  .main__text p {
    font-size: 0.9rem;
  }
  .main__text .main__text__timing {
    display: flex;
    margin: 20px 0 10px;
  }
  .main__text .main__text__timing .main__text__timing_time {
    margin-right: 40px;
  }
  .main__text .main__text__timing h2 {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: #818189;
  }
  .main__text .main__text__timing p {
    color: #351897;
    font-weight: bold;
    font-size: 1.2rem;
  }